.features {
	overflow: hidden;
	width: 100vw;
	&__title {
		@include fontMontserrat(700, 32px, 38px);
		color: #8d81ac;
		align-items: center;
		text-align: center;
		margin: 32px 35px 18px 35px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		margin: 36px 15px 36px 15px;
	}
	&__block-title {
		@include fontMontserrat(400, 16px, 16px);
		color: #323232;
		align-items: center;
		text-align: center;
	}
	&__block-text {
		@include fontLoto(400, 14px, 21px);
		color: #848e97;
		align-items: center;
		text-align: center;
	}

	&__img {
		transform: translateX(10px);
		height: 100%;
		width: 100vw;
		max-width: 700px;
		overflow: hidden;
	}
}
@media (min-width: $md2) {
	.features {
		&__block {
			display: flex;
			flex-direction: row;
			gap: 30px;
			margin: 59px 30px 59px 31px;
		}
		&__title {
			@include fontMontserrat(700, 42px, 44px);
		}
		&__block-content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
		}
		&__block-text {
			text-align: start;
		}
		&__img {
			float: right;
		}
		&__block-img {
			width: 60px;
		}
	}
}

@media (min-width: $md3) {
	.features {
		padding-bottom: 50px;
		padding-top: 90px;
		background: #f4f4f4;
		&__grid {
			display: grid;
			grid-template-columns: repeat(2, 50%);
			grid-template-rows: repeat(4, 110px);
			row-gap: 34px;
			column-gap: 0px;
		}

		&__title {
			text-align: start;
			grid-column: 2 / span 1;
			grid-row: 1 / span 1;
			@include fontMontserrat(700, 4vw, 50px);
			white-space: nowrap;
			margin: 0;
			align-self: stretch;
			padding-top: 5px;
		}
		&__img {
			margin-top: 110px;
			grid-column: 2 / span 3;
			grid-row: 1 / span 4;
		}
	}
}
@media (min-width: 1201px) {
	.features {
		&__title {
			@include fontMontserrat(700, 48px, 50px);
		}
	}
}
