.header {
	width: 100vw;
	&__btn {
		width: 119px;
		height: 37px;
		margin: auto 0;
	}
	&__text {
		@include fontMontserrat(400, 14px, 14px);
		color: #848e97;
		transform: translateY(-10px);
	}
	background: url("@img/header_bg.jpg") no-repeat;
	background-size: cover;
	height: 720px;
	background-position: center;
	z-index: -100;
	&__nav_bg {
		width: 100vw;
		height: 103px;
		background: #27262a;
		z-index: -1000;
	}
	&__logo {
		margin: auto 5px;
		cursor: pointer;
		&-text {
			display: none;
			text-transform: uppercase;
			@include fontLoto(700, 24px, 16px);
			color: #8d81ac;
		}
	}
	&__nav {
		height: 103px;
		background: #27262a;
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	&__title {
		margin-top: 50px;
		@include fontMontserrat(700, 48px, 48px);
		color: #ffffff;
	}
	&__subtitle {
		margin-top: 20px;
		@include fontMontserrat(400, 18px, 24px);
		color: #8d81ac;
		text-transform: capitalize;
		text-align: center;
	}
	&__info {
		margin-top: 15px;
		@include fontMontserrat(400, 14px, 14px);
		color: #848e97;
		text-transform: uppercase;
	}
}
.btn {
	@include fontMontserrat(700, 18px, 20px);
	background: #8d81ac;
	border-radius: 40px;
	color: rgba(255, 255, 255, 1);

	&:hover {
		background: #ffffff;
		color: #8d81ac;
	}
}
.menu {
	&__btn {
		display: block;
		margin-top: 42px;
		margin-right: 5px;
		top: 100px;
		right: 0px;
		z-index: 30;
		width: 26px;
		height: 21px;
		transition: 0.4s;
		& span,
		& span::before,
		& span::after {
			position: absolute;
			width: 26px;
			height: 3px;

			background-color: #ffffff;
			border-radius: 5px;
		}
		& span {
			margin-top: 8px;
			&::before {
				content: "";
				transform: translateY(-11px);
				margin-left: 10px;
				width: 15px;
			}
			&::after {
				content: "";
				transform: translateY(11px);
				transition: 0.2s;
			}
		}
		&_active {
			& span:after {
				transform: rotate(45deg);
			}
			& span {
				width: 0;
				&:before {
					margin-left: 0px;
					transform: rotate(-45deg);
					width: 26px;
				}
			}
		}
	}
	&__nav {
		@include fontMontserrat(400, 26px, 26px);
		text-align: left;
		display: flex;
		position: absolute;
		top: 103px;
		left: -10px;
		width: 96%;
		margin: 0 15px;
		align-items: center;
		flex-direction: column;
		height: 360px;
		display: none;
		background-color: #333333;
		& a {
			position: relative;
			display: block;
			padding: 30px 0px 25px 25px;

			color: #ffffff;
			width: 100%;
			border-bottom: 3px solid rgba(70, 66, 66, 0.5);
			&:active,
			&:focus,
			&:hover {
				color: #8d81ac;
				&::after {
					content: "";
					top: 19px;
					left: 1px;
					background: #8d81ac;
					position: absolute;
					width: 8px;
					height: 53px;
				}
			}
		}
		&_active {
			display: block;
		}
	}
}
.download__btn {
	height: 45px;
	display: block;
	transform: translateY(-23px);
	margin: 0 auto;
	width: 290px;
}

@media (min-width: $md2) {
	.menu {
		&__btn {
			display: none;
		}
		&__nav {
			left: 0;
			margin-left: 0px;
			& a {
				padding: 0px;
				&:active,
				&:focus {
					&::after {
						content: "";
						display: none;
					}
				}
				&:hover {
					color: #ffffff;
					&::after {
						content: "";
						background: none;
					}
				}
			}
			display: flex;
			background: none;
			border-bottom: none;
			text-align: center;
			top: 80px;
			left: 10vw;
			width: 75vw;
			justify-content: space-between;
			flex-direction: row;
			height: auto;

			& a {
				padding: 0px 24px 0px 24px;
				@include fontMontserrat(700, 16px, 18px);
				color: #8d81ac;
				width: auto;
				border-bottom: none;
			}
		}
	}
	.header {
		height: 96vh;
		&__title {
			margin-top: 65px;
			@include fontMontserrat(700, 72px, 72px);
		}
		&__subtitle {
			margin: 15px auto;
			text-transform: none;
			@include fontLoto(400, 24px, 24px);
		}
		&__nav {
			height: 118px;
			&_bg {
				height: 118px;
			}
		}
		&__logo {
			padding-bottom: 30px;
			display: flex;
			&-text {
				margin: auto 15px;
				display: block;
			}
		}
		&__btn {
			width: 145px;
			height: 38px;
			@include fontMontserrat(700, 16px, 16px);
			margin-top: 23px;
			margin-right: 19px;
		}
		&__text {
			@include fontMontserrat(400, 14px, 16px);
		}
	}
	.download__btn {
		width: 390px;
		height: 62px;
		@include fontMontserrat(700, 21px, 23px);
		transform: translateY(-31px);
	}
}

@media (max-width: 510px) {
	.menu {
		&__nav {
			left: 0px;
		}
	}
}
@media (min-width: 780px) {
	.menu {
		&__nav {
			white-space: nowrap;
		}
	}
}
@media (min-width: $md3) {
	.header {
		height: 91vh;
		&__btn {
			margin-right: 1vw;
		}
		&__nav {
			background: none;
			&_bg {
				background: none;
			}
		}
		&__title {
			margin-top: 55px;
			@include fontMontserrat(700, 82px, 82px);
		}
		&__subtitle {
			@include fontLoto(400, 30px, 30px);
		}
		&__info {
			@include fontMontserrat(400, 16px, 16px);
		}
	}
	.menu {
		&__nav {
			top: 30px;
			left: 33vw;

			width: 35%;
			justify-content: space-between;
			flex-direction: row;
			height: auto;

			& a {
				padding: 0px 4% 0px 5%;
				@include fontMontserrat(700, 16px, 17px);
				color: #8d81ac;
				width: auto;
				border-bottom: none;
			}
		}
	}
}
@media (max-width: 1040px) and (min-width: $md3) {
	.menu {
		&__nav {
			left: 30%;
		}
	}
}
@media (min-width: ($md4)) {
	.menu {
		&__nav {
			left: 38%;
		}
	}
}
